h1 {
    color: black;
    font-size: 32px;
    font-family: "JetBrains Mono ExtraBold";
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    color: black;
    font-size: 25px;
}

h3 {
    color: black;
    font-size: 17px;
    font-family: "JetBrains Mono SemiBold";
    margin-bottom: 2px;
}

div {
    text-align: center;
    margin-top: 30px;
}

.taula {
    margin-top: 3px;
}

th {
    font-size: 19px;
    line-height: 30px;
}

cuerpo {
    font-size: 14px;
    font-family: "JetBrains Mono";
    line-height: 10px;
}

table {
    font-family: "JetBrains Mono";
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.anunci {
    margin-top: 0px;
}

img {
    margin-bottom: 0px;
}

button {
    background-color: #1f6abd;
    border-color: black;
    border-width: 1px;
    color: white;
    padding: 5px 7px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 10px;
}

/* Darker background on mouse-over */
button:hover {
    background-color: #6387f1;
}

i{
    cursor: pointer;
    padding-left: 7px;
}